@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    overflow: hidden;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 15px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgba(154, 159, 166, 0.59);
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        transition: ease-in-out ;
        background: #6e6e6e;
    }
}
